.container {
  display: flex;
  gap: 20px;
}

.input_select {
  appearance: none;
  background-color: #fff;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  padding: 4px 12px;
  width: 13vw;
  height: 30px;
  font-size: 14px;
}

.input_select:focus {
  outline: none;
  border: 1px solid #5f5f5f;
}

.input_text {
  appearance: none;
  border: none;
  margin: 0;
  background-color: transparent;
  border-radius: 5px;
  padding: 4px 1px 4px 12px;
  width: 12vw;
  height: 20.3px;
  font-size: 14.5px;
}

.text_container {
  background-color: #fff;
  border: 1px solid #a1a1a1;
  border-radius: 5px;
  width: 14.5vw;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.input_text:focus {
  outline: none;
}
